*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-image: url('bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: flex-end;
}
.container__section{
    background-color: #fff;
    width: 45%;
    height: 100vh;
    display: flex;
}

/* FORM */
input, select{
    height: 35px;
}
input:focus, input[type]:focus, select:focus {
    border: 2px solid rgb(174, 43, 218);
    outline: 0 none;
}
input[type]{
    padding: 6px 8px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    background-color: #fff;
}
input[type="submit"], input[type="button"]{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgb(174, 43, 218);
}
body{
    font-family: 'Roboto', sans-serif;
}
form{
    padding: 25px;
    border-radius: 3px;
    border: 1px solid rgba(226, 139, 255, 0.9);

}
/* ENCABEZADO */
.content__header{
    justify-content: start;
    margin-bottom: 20px;
    margin-top: 10px;
}
.content__header-title{
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    color: rgb(174, 43, 218);
}
/* MODIFICADORES */
.flex{
    display: flex;
}
.align{
    margin-left: 5px;
}
.top{
    margin-top: 7px;
}
.input{
    border: 1.99px solid rgb(200, 200, 200);
    border-radius: 4px;
}
.focus:focus-within .label{
    color: rgb(174, 43, 218);
}
.color{
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: 0.2px;
}
.none{
    display: none;
}
.select{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
/* CONTENIDO PRINCIPAL */
.content{
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
/* NOMBRE, APELLIDO, CI Y CIUDAD */
.name__text, .lastname__text, .ci__text, .city__text{
    width: 170px;
}
/* CORREO, TELEFONO Y DIRECCIÓN */
.mail__text, .phone__text, .address__text{
    width: 345px;
}
/* SEXO Y ESTADO CIVIL */
.tipeofsex__select, .status__select{
    width: 170px;
}

/* BOTON */
.btn{
    justify-content: start;
    margin-top: 20px;
}
.btn__submit{
    width: 110px;
    font-size: 16px;
    border: 1.5px solid rgba(174, 43, 218,0.7);
    border-radius: 3px;
    background-color: #fff;
    color: rgb(174, 43, 218);
    cursor: pointer;
    text-align: center;
}
.btn__submit:hover{
    background-color: rgba(226, 139, 255, 0.25);
}
