body{
    color: #212121;
    background-color: #F2F4F6;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
h1{
    color: #1148B7;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
}
h2{
    color: #3B82FF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
span{
    color: #e9532a;
}
strong{
    font-size: 20px;
    font-weight: 500;
}
em{
    color: #FFF;
    background-color: rgba(17, 74, 178, 0.7);
    border-radius: 3px;
    padding-right: 5px;
    padding-left: 5px;
}
