*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
h2{
    color: #2c3848e7;
}
p{
    color: #667182;
}
.nav{
    display: flex;
    justify-content: center;
}
.nav__logo{
    width: 90px;
    height: 90px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.main{
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.section__article{
    padding: 25px 25px 60px 25px;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    border: 1.9px solid #E5E6EC;
    border-radius: 5px;
    transition: 0.5s;
    background-color: #FCFCFD;
    cursor: pointer;
}
.section__article:hover{
    border: 1.9px solid #4290F5;
}
.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}