*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, select{
    height: 35px;
}
input:focus, input[type]:focus, select:focus {
    border: 2px solid rgb(26, 115, 232);
    outline: 0 none;
}
input[type]{
    padding: 6px 8px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    background-color: #fff;
}
input[type="submit"]{
    color: rgb(0, 80, 180);
}
body{
    font-family: 'Roboto', sans-serif;
}
form{
    background-image: url('bg.svg');
    padding: 25px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: bottom;
    border-top: 2px solid rgba(26, 115, 232, 0.2);
    border-left: 2px solid rgba(26, 115, 232, 0.2);
    border-right: 2px solid rgba(26, 115, 232, 0.2);
}
/* ENCABEZADO */
.content__header{
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.content__header-title{
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    color: rgb(26, 115, 232);
}
/* MODIFICADORES */
.flex{
    display: flex;
}
.align{
    margin-left: 5px;
}
.top{
    margin-top: 7px;
}
.input{
    border: 1.99px solid rgb(200, 200, 200);
    border-radius: 4px;
}
.focus:focus-within .label{
    color: rgb(26, 115, 232);
}
.color{
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: 0.2px;
}
.none{
    display: none;
}
/* CONTENIDO PRINCIPAL */
.content{
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
/* NOMBRE Y APELLIDO */
.user__name-text, .user__lastname-text{
    width: 170px;
}
/* CORREO Y TELEFONO */
.mail__text, .phone__text{
    width: 345px;
}
/* SEXO Y FECHA DE NACIMIENTO */
.tipeofsex__select, .birth__select{
    width: 170px;
}
/* CONTRASEÑA Y CONFIRMAR */
.pwd__pwd, .pwd__conf{
    width: 170px;
}
/* BOTON */
.btn{
    justify-content: center;
    margin-top: 20px;
}
.btn__submit{
    width: 110px;
    font-size: 16px;
    border: 1.99px solid rgb(26, 115, 232);
    border-radius: 5px;
    font-weight: 500;
    background-color: #fff;
    color: rgb(26, 115, 232);
    cursor: pointer;
    letter-spacing: 0.35px;
}
.btn__submit:hover{
    background-color: rgb(26, 115, 232);
    color: #fff;
}